<table>
    <tr>
        <th>Number - Short Description</th>
        <th ng-repeat="state in data.state_columns">{{state}}</th>
    </tr>
    <tr ng-repeat="record in data.records">
        <td>
            {{record.number}} - {{record.short_description}}
        </td>
        <td ng-repeat="state in data.state_array">
            <ng-container ng-if="record.state == state">
                ⚫
            </ng-container>
            <ng-container ng-if="record.state > state">
                ✔
            </ng-container>
            <ng-container ng-if="record.state < state">
                ○
            </ng-container>
        </td>
    </tr>
</table>