<div class="widget">
  <table>
    <tr>
      <th>
        Record
      </th>
      <th ng-repeat="state in data.state_columns">{{state}}</th>
    </tr>
    <tr ng-repeat="record in data.records">
      <td>
        {{record.number}} - {{record.short_description}}
      </td>
      <td ng-repeat="state in data.state_array">
        <ng-container ng-if="record.state == state">
          ⚫
        </ng-container>
        <ng-container ng-if="record.state > state">
          ○
        </ng-container>
        <ng-container ng-if="record.state < state">
          ○
        </ng-container>
      </td>
    </tr>
  </table>
    <ng-container ng-if="data.limit_reached" class="footer">
      {{data.tooltip}} Results limited to first 100 records.
    </ng-container>
    <ng-container ng-if="!data.limit_reached" class="footer">
      {{data.tooltip}} Found {{data.record_count}} records.
    </ng-container>
</div>